---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

@import "so-simple";

// Customized scss below
// Make page titles smaller
.page-title {
  @include fluid-type($min-vw, $max-vw, 48px, 48px);
  margin-bottom: 0.5em;
  font-family: $title-font-family;
  font-weight: $page-title-weight;
  font-style: italic;
  letter-spacing: -2px;
}