---
layout: page
---

{{ content }}

<h1>Current grads, postdocs, and staff</h1>

<div class="entries-{{ page.entries_layout | default: 'list' }}">
  {% include documents-collection.html collection=page.collection sort_by=page.sort_by sort_order=page.sort_order %}
</div>

<hr class="rounded">

<h1>Former full-time lab members</h1>
Antionio Chaparro (2019-2022), currently in UC Berkeley PhD program for Plant & Microbial Biology <br>

<br>
<br>

<h1>Former undergraduates</h1>
Ava Kloss-Schmidt (2019-2022), currently technician at Rhee Lab, Carnegie Institute, Palo Alto CA <br>
Karyn Tindbaek (2021-2022), currently technician at Metzger Lab, Pacific NW Research Institute, Seattle WA <br>
Nathan Greenwood (2021-2022), currently undergraduate at UW Institute for Protein Design <br>
Sanjana Jadhav (2021) <br>
Anthony Garcia (2019-2020), currently in UW Biology PhD program <br>
August Liu (2021), currently Research Associate, AAV Gene Therapy at Allen Institute for Brain Science <br>


<br>
<br>
<img src="/lab_members.png" class="align-center" alt="" style="border: #000000 1px solid;" width=600>